[Desktop Entry]
Version=1.0
Terminal=false
Icon=eeschema
Type=Application
Categories=Development;Electronics;
Exec=eeschema %f
MimeType=application/x-kicad-schematic;
Name=Eeschema (Standalone)
GenericName=Electronic schematic capture
GenericName[fr]=Saisie de schéma électronique
GenericName[it]=Disegno di schemi elettrici
GenericName[pt]=Desenho de esquema eletrônico
Comment=KiCad electronic schematic design (standalone)
Comment[fr]=Dessiner des schémas électroniques (standalone)
Comment[it]=Progettazione di schemi elettrici (standalone)
Comment[pt]=Desenho de esquemas eletrônicos (standalone)
