[Desktop Entry]
Version=1.0
Terminal=false
Icon=kicad
Type=Application
Categories=Development;Electronics;
Exec=kicad %f
MimeType=application/x-kicad-project;
Name=KiCad
GenericName=EDA Suite
GenericName[it]=CAD elettronico
GenericName[pt]=CAD para eletrônica
Comment=Electronic Design Automation suite
Comment[fr]=Suite logicielle de conception électronique
Comment[it]=Suite di progettazione circuiti elettronici
Comment[pt]=Pacote para projeto de esquemas eletrônicos e circuitos impressos
X-Desktop-File-Install-Version=0.22
